<div class="outer mb-2">
  <div [className]="getInnerClass()">
    <table class="table table-hover rayTable text-center">
      <thead>
        <tr>
          <th *ngIf="viewName" class="fixedColumn text-left">Name</th>
          <th *ngIf="viewRank">Rank</th>
          <th *ngIf="viewSeason" [class.fixedColumnSeason]="isPlayer">Season</th>
          <th *ngIf="viewTeam">Team</th>
          <th *ngIf="viewYears">Years</th>
          <th *ngIf="viewTeams">Teams</th>
          <ng-container *ngIf="viewSkater">
            <th *ngFor="let header of skaterHeaders;let i = index" [class.selectedColumn]="checkIndex(i)">{{header}}
            </th>
          </ng-container>
          <ng-container *ngIf="viewGoalie">
            <th *ngFor="let header of goalieHeaders;let i = index" [class.selectedColumn]="checkIndex(i)">{{header}}
            </th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of rows">
          <td *ngIf="viewName" class="fixedColumn text-left">{{row.name}}</td>
          <td *ngIf="viewRank">{{row.rank}}</td>
          <td *ngIf="viewSeason" [class.fixedColumnSeason]="isPlayer">{{row.season}}</td>
          <td *ngIf="viewTeam"><img src="assets/img/{{row.team.name}}.png" /></td>
          <td *ngIf="viewYears">12</td>
          <td *ngIf="viewTeams">2</td>
          <td *ngFor="let stat of row.stats;let i = index" [class.selectedColumn]="checkIndex(i)">{{stat}}</td>
        </tr>
      </tbody>
      <tfoot *ngIf="viewTotals">
        <tr>
          <th *ngIf="viewName" class="fixedColumn"></th>
          <th *ngIf="viewRank"></th>
          <th *ngIf="viewSeason" [class.fixedColumnSeason]="isPlayer">20</th>
          <th *ngIf="viewTeam">3</th>
          <th *ngIf="viewYears"></th>
          <th *ngIf="viewTeams"></th>
          <ng-container *ngIf="viewSkater">
            <th *ngFor="let total of totals;let i = index" [class.selectedColumn]="checkIndex(i)">{{total}}</th>
          </ng-container>
        </tr>
      </tfoot>
    </table>
  </div>
  <pagination [pages]="pages" class="float-right mt-2"></pagination>
</div>