<div class="outer mb-2">
  <div [className]="getInnerClass()">
    <table class="table table-hover rayTable text-center">
      <thead>
        <tr>
          <th *ngIf="viewName" class="fixedColumn text-left">Name</th>
          <th *ngIf="viewRank">Rank</th>
          <th *ngIf="viewSeason" [class.fixedColumnSeason]="isPlayer">Season</th>
          <th *ngIf="viewTeam">Team</th>
          <th *ngIf="viewYears">Years</th>
          <th *ngIf="viewTeams">Teams</th>
          <th>GP</th>
          <ng-container *ngIf="viewSkater">
            <th>G</th>
            <th class="selectedColumn">A</th>
            <th>GP</th>
            <th>G</th>
            <th>A</th>
            <th>GP</th>
            <th>G</th>
            <th>A</th>
            <th>GP</th>
            <th>G</th>
            <th>A</th>
            <th>GP</th>
            <th>G</th>
            <th>A</th>
            <th>GP</th>
            <th>G</th>
            <th>A</th>
            <th>GP</th>
            <th>G</th>
            <th>A</th>
            <th>GP</th>
            <th>G</th>
            <th>A</th>
          </ng-container>
          <ng-container *ngIf="viewGoalie">
            <th>G</th>
            <th class="selectedColumn">A</th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of skaterData">
          <td *ngIf="viewName" class="fixedColumn text-left">{{row.name}}</td>
          <td *ngIf="viewRank">{{row.rank}}</td>
          <td *ngIf="viewSeason" [class.fixedColumnSeason]="isPlayer">{{row.season}}</td>
          <td *ngIf="viewTeam"><img src="assets/img/{{row.team}}.png" /></td>
          <td *ngIf="viewYears">12</td>
          <td *ngIf="viewTeams">2</td>
          <td>{{row.gp}}</td>
          <ng-container *ngIf="viewSkater">
            <td>{{row.g}}</td>
            <td class="selectedColumn">{{row.a}}</td>
            <td>{{row.gp}}</td>
            <td>{{row.g}}</td>
            <td>{{row.a}}</td>
            <td>{{row.gp}}</td>
            <td>{{row.g}}</td>
            <td>{{row.a}}</td>
            <td>{{row.gp}}</td>
            <td>{{row.g}}</td>
            <td>{{row.a}}</td>
            <td>{{row.gp}}</td>
            <td>{{row.g}}</td>
            <td>{{row.a}}</td>
            <td>{{row.gp}}</td>
            <td>{{row.g}}</td>
            <td>{{row.a}}</td>
            <td>{{row.gp}}</td>
            <td>{{row.g}}</td>
            <td>{{row.a}}</td>
            <td>{{row.gp}}</td>
            <td>{{row.g}}</td>
            <td>{{row.a}}</td>
          </ng-container>
          <ng-container *ngIf="viewGoalie">
            <td>{{row.g}}</td>
            <td class="selectedColumn">{{row.a}}</td>
          </ng-container>
        </tr>
      </tbody>
      <tfoot *ngIf="viewTotals">
        <tr>
          <th *ngIf="viewName" class="fixedColumn"></th>
          <th *ngIf="viewRank"></th>
          <th *ngIf="viewSeason" [class.fixedColumnSeason]="isPlayer">20</th>
          <th *ngIf="viewTeam">3</th>
          <th *ngIf="viewYears"></th>
          <th *ngIf="viewTeams"></th>
          <th>GP</th>
          <ng-container *ngIf="viewSkater">
            <th>G</th>
            <th class="selectedColumn">A</th>
            <th>GP</th>
            <th>G</th>
            <th>A</th>
            <th>GP</th>
            <th>G</th>
            <th>A</th>
            <th>GP</th>
            <th>G</th>
            <th>A</th>
            <th>GP</th>
            <th>G</th>
            <th>A</th>
            <th>GP</th>
            <th>G</th>
            <th>A</th>
            <th>GP</th>
            <th>G</th>
            <th>A</th>
            <th>GP</th>
            <th>G</th>
            <th>A</th>
          </ng-container>
          <ng-container *ngIf="viewGoalie">
            <th>G</th>
            <th class="selectedColumn">A</th>
          </ng-container>
        </tr>
      </tfoot>
    </table>
  </div>
  <pagination [pages]="pages" class="float-right mt-2"></pagination>
</div>